name: Release data
on:
  push:
    tags:
      - "*"

permissions:
  contents: write  

jobs:
  make-release:
    defaults:
      run:
        shell: bash
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Create release
      uses: softprops/action-gh-release@v2.4.2
      with:
        files: |
          urls.csv
        