name: Run scraper
on:
  schedule:
    - cron: "0 9 17 * *"
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "**/*.py"

permissions:
  contents: write

defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: zillow
          environment-file: environment.yml

      - name: Run script
        run: |
          python ./zillow_scraper.py

      - name: Commit
        uses: EndBug/add-and-commit@v9
        id: auto-commit
        with:
          add: 'urls.csv'
          message: 'Rerun scraper'

      - name: Create tag
        uses: StephaneBour/actions-calver@v1.6
        if: steps.auto-commit.outputs.committed == 'true'
        with:
          release_branch: main
          release: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
